@charset "utf-8";
*{
    margin:0;
    padding: 0;
}
.clearfix::after,.clearfix::before{
    content: '';
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix::after{
    zoom:1;
}

a{
    text-decoration: none;
    color:#fff;
}
ul,li{
    list-style-type: none;
}
body{
    color:#fff;
    width: 100%;
    min-width:980px;
    font-family:微软雅黑;
    font-size:14px;
}

header{
    width: 100%;
    background-color: #522a5c;
    height:80px;
    position: relative;
}

header .container{
    width: 980px;
    height:100%;
    padding:50px 0 5px;
    margin:0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header .container .logo{
    float: left;
}
header .container nav{
    float: right;
}
header .container nav li{
    float: left;
    margin:0 28px 0 0;
}
@media only screen and (max-width: 1000px) {
    header img{
        display: none;
    }
}
header img{
    position: absolute;
    right:10px;
    bottom:0px;
}
section{
    width:100%;
    height: 526px;
    background:url("../img/banner-bg.jpg");
    background-size: cover;
}
section .wrapper{
    width: 980px;
    height: 100%;
    margin:0 auto;
    position: relative;
}
section .wrapper .slogan{
    position: absolute;
    bottom:0;
    right:0;
    width:360px;
    height: 120px;
    padding:10px 10px 30px;
    background:linear-gradient(to bottom,rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 0%);;
}
section .wrapper .slogan h3{
    font-size:14px;
    margin-bottom:12px;
    text-align: right;
}
section .wrapper .slogan p{
    font-size:12px;
    line-height:1.5em;
    text-indent: 2em;
}
main{
    width: 100%;
    height: 1000px;
}
main .container{
    width: 100%;
    height:480px;
    background-color: #ccc;
}
main .container .box{
    width: 980px;
    height:auto;
    margin:0 auto;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding-top:10px;
}
main .container .box .boxitem{
    width: 320px;
    background-color: #fff;
}
main .container .box .boxitem img{
    display: block;
    padding: 10px;
}
main .container .box .boxitem p{
    color:#000;
    font-size:12px;
    line-height:1.7em;
    padding: 15px 30px 25px;
    text-indent:2em;
}

main .profile{
    width: 100%;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    padding-top:160px;
}
main .profile .avatar{
    width: 160px;
    height: 160px;
    border-radius:80px;
    position: absolute;
    top:-50px;
    left:50%;
    margin-left:-80px;
    background: url("../img/head01.png");
    background-size: cover;
}
main .profile h2{
    text-align: center;
    color:#000;
    font-size:20px;
    margin-bottom: 40px;
}
main .profile p {
    width: 600px;
    color:#000;
    font-size:14px;
    margin:0 auto;
    text-align: left;
    text-indent: 2em;
}
footer{
    width: 100%;
    height: 400px;
    background-color: #000;
    position: relative;
}


footer nav {
    width: 100%;
    height: 34px;
    border-bottom:1px solid #ccc;
}
footer nav ul{
    width: 240px;
    height:100%;
    margin:0 auto;
}
footer nav ul li{
    float: left;
    line-height:34px;
    margin:0 14px;
}
footer .links{
    width: 980px;
    margin: 0px auto;
    padding-top: 50px;
}
footer .links .item{
    float: left;
    width: 200px;
    height:auto;
    margin-right: -10px;
}
footer .links .item span{
    font-size:14px;
    display: block;
}
footer .links .item a{
    display: block;
    margin:10px 0;
    font-size:10px;
}

footer .copyright{
    width: 100px;
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left:-50px;
}
footer .copyright span{
    display: block;
    text-align: center;
}
footer .copyright a{
    display: block;
    text-align: center;
    margin:30px 0 -4px;
}